body {
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #818181;
}

h1 {
    font-size: 63px;
    color: #303030;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

/* body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
} */