body {
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #818181;
    margin: 0px;
}

h1 {
    font-size: 63px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

header{
    background-color: #f4511e;
    text-align: center;
}

header p{
    color: #ffffff;
}

section, footer{
    margin: 40px;
}
