body {
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #818181;
    margin: 0px;
}

h1 {
    font-size: 63px;
    color: #ffffff;
    margin: 0px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

header{
    background-color: #f4511e;
    text-align: center;
}

header p{
    color: #ffffff;
}

section, footer{
    margin: 40px;
}


nav {
    font-size: 12px;
    letter-spacing: 4px;
    height: 10px;
    background-color: #f4511e;
    padding-right: 40px;
    height: 50px;
}

nav ul{
    list-style: none;
    float: right;
}

nav li{
    float: left;
}

nav li a{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
